@media screen {

    .pagedjs_pages {
       display: flex;
       width: calc(var(--pagedjs-width));
       flex: 0; 
       flex-wrap: wrap;
       margin: 0 auto; 
       justify-content: center;
   }

   .pagedjs_page {
       margin: 10mm; 
       border: 1px solid #e9e8ec;
   }
}

h2 { 
    border-left: 6px solid #008A9A;
    margin-top: 1rem; 
    margin-bottom: 1rem; 
    padding-left: 0.4rem;
    font-size: 18pt;
    font-weight: bold;
    color: #3b3356;
    user-select: none;
    line-height: 1.2;
}

@page { 
    size: A4; 
}

.page-break { 
    break-after: page; 
}

h2:not(.no-break) { 
    break-before: page; 
    margin-block-start: 1rem; 
    margin-block-end: 1.66rem; 
}
h2.no-break:not(.top) { 
    margin-block-start: 3rem; 
    margin-block-end: 1.66rem;
}
h2.top { 
    margin-block-start: 1.25rem; 
    margin-block-end: 2.25rem; 
}

h3:not(.top) {
    margin-block-start: 0rem; 
    margin-block-end: 0rem;
}
h3.top {
    margin-block-start: 1.66rem; 
    margin-block-end: 0.83rem; 
}

@page { 
    @bottom-center {
        content: "Side " counter(page);
        font-size: 10pt;
        color: #77718a;
        width: 100%;
        text-align: center;
    }
}

.footer { 
    position: running(footerRunning); 
}

@page {
	@bottom-left {
    	content: element(footerRunning); width: 80mm;
    }
}

h2 { 
    string-set: section content(text);	
}
h3 { 
    string-set: subsection content(text); 
}

.banner-class {	
    page: top-banner; 
}

@page top-banner {
	@top-left-corner { background-color: #445a75; content: " ";}
	@top-left {	background-color: #445a75; content: " ";}
	@top-center { background-color: #445a75; 
		color: white;
		content: "Sample Banner Text";
	}
	@top-right { background-color: #445a75;	content: " ";}
	@top-right-corner { background-color: #445a75; content: " ";}
}

.counter-reset { counter-reset: page 1; }